<!-- <div class="img-outer">
    <img src="<%=book.image_url%>" alt="">
</div>
<div>
    <h3 class="title">
        <%=book.title%>
    </h3>
</div>
<div>
    <h5 class="author">
        <%=book.author%>
    </h5>
</div> -->


<div class="img-outer">
    <img src="<%=book.image_url%>" alt="">
  </div>
<div class="inside">
  <div class="title">
    <h3>
        <%=book.title%>
    </h3>
  </div>

  <div class="author">
    <h5>
        <%=book.author%>
    </h5>
  </div>

<!-- </div> -->