<section class="update" >
  <form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <input type="text" hidden name="img" value="<%=book.image_url%>">
    <input type="text" name="title" name="searchBy" value="<%=book.title%>">
    <input type="text" name="author" value="<%=book.author%>">
    <input id=".desc" type="text"name="description" value="<%=book.description%>">
    <button type="submit">Update Book</button>
    <button class="cancel">Cancel</button>
  </form>
</section>