<!DOCTYPE html>
<html lang="en">

<%- include("../../layout/head")%>

    <body>
        <%- include("../../layout/header")%>
            <main class="main">
                <section>
                    <%- include('./detail')%>
                        <!-- <div class="pr"> -->
                        <p id="para">
                            <%= book.description %>
                        </p>
                        </div>
                        <div>
                            <div>
                                <button type="submit">Update Details</button>
                            </div>
                            <div>
                                <button type="submit">Delete Book</button>
                            </div>
                        </div>
                        <div> <a class="a-btn" href="/">Home</a></div>
                </section>
                <%- include("edit") %>
            </main>
            <%- include("../../layout/footer")%>
    </body>

</html>