<!DOCTYPE html>
<html lang="en">

<%- include("../../layout/head")%>


    <body>

        <%- include("../../layout/header")%>


            <main class="main">
                <section>
                    <%- include('./detail')%>
                        <!-- <div class="pr"> -->
                            <p id="para">
                                <%= book.description %>
                            </p>
                        </div>
                        <div>
                            <div>
                                <form action="" method="POST">
                                    <button type="submit">Update Details</button>
                                </form>
                            </div>
                            <div>
                                <form action="" method="POST">
                                    <button type="submit">Delete Book</button>
                                </form>
                            </div>
                        </div>
                        <div> <a class="a-btn" href="/">Home</a></div>
                </section>
            </main>

            <%- include("../../layout/footer")%>

    </body>

</html>