<!DOCTYPE html>
<html lang="en">

    <%- include("../layout/head")%>

<body>
    <%- include("../layout/header")%>

    <div class="show">
        <h1><span>
                <%= counter %>
            </span> Saved Books</h1>
    </div>
    <main class="main">
        <% book_data.forEach(data=>{ %>
            <section>
                <%- include('books/detail',{book:data})%>
                <div><a href="/books/<%=data.id%>">Show Details</a></div> 
            </section>
        <% }) %>
    </main>
    
<%- include("../layout/footer")%>

</body>

</html>